.wrapper{
  height: 100vh;
  width: 100vw;
  background-color: snow;
  position: relative;

  .header{

    position: sticky;
    top: 0px;

    &__menu{
      height: 50px;
      width: 100vw;
      background-color: gray;
      margin-top:100px;
      &__contents{

        position: absolute;
        left: 200px;
        font-size:20px;
        display: flex;
        align-items:center;
        margin-top:10px;

        .link_btn{
          text-decoration: none;
          font-size:20px;
          color:lightgray;
        }

        &__home{
          border-bottom:1px solid black;
        }

        &__recentsituation{
          margin-left: 20px;
        }

        &__configuration{
          margin-left: 20px;
        }
      }
    }
  }

  .main-field{

    display: flex;
    justify-content: space-around;

    &__image{
      height: calc(100vh - 100px);
      width: calc(100vw - 400px);
      margin-top: 30px;

      &__image-erea{
        .thumbnail-image{
          object-fit: cover;
          height: 180px;
          width: 180px;
          border: 1px solid #ccc;
          padding: 5px;
          margin-right:5px;
          margin-bottom: 15px;
        }
      }

      .main-field-btn{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 550px;

        &__foward-btn{
          width: 150px;
          height: 20px;
          background-color: rgb(0, 81, 255);
          padding:10px;
          margin: 20px;
          color:white;
          border-radius: 10px;
          font-weight: bold;
        }
    
        &__next-btn{
          width: 150px;
          height: 20px;
          background-color: rgb(0, 81, 255);
          padding:10px;
          margin: 20px;
          color:white;
          border-radius: 10px;
          font-weight: bold;
        }

        .link_btn{
          text-decoration: none;
          font-size:16px;
          color: white;
        }
        
      }
    }

    .image-modal-wrapper{
      //モーダル表示をしている時だけバックグラウンド全体を薄暗くする
      position: fixed;
      top: 0;//以下４行で画面全体とする
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);//バックグラウンドを薄暗くする
      z-index: 100;
      display: none;

    }

    .image-modal{
      position: absolute;
      top: 3%;
      left: 23%;
      @include -height-width(700px,800px);
      background-color:#e6ecf0;
      border-radius: 10px;
    }

    .bigimg {
      // width: 100%;
      @include vertical-and-horizontal-center();
      // top: 40px;
      left: 0px;
      right: 0;
      margin:50px 0 0 0;

      img{
        max-height: 540px;
        max-width: 540px;
        // margin: auto;
      }
    }

    .fa-times{
      position: absolute;
      top:10px;
      right:10px;
      cursor: pointer;
    }

  }

  .footer{
    height: 150px;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    text-align: center;

    &__form{
      margin-top:50px;
    }

    .image-btn{
      color:blue;
    }
  }
}