.situation-wrapper

  .situation-header
    .situation-header__menu
      .situation-header__menu__contents
        .situation-header__menu__contents__home
          = link_to 'ホーム', post_path(current_user.id) , class:"link_btn"
        .situation-header__menu__contents__recentsituation
          = link_to '近況', posts_situation_path , class:"link_btn"
        .situation-header__menu__contents__configuration
          = link_to '設定', "#" , class:"link_btn"
          
    .situation-main
      .situation-main__history
        .situation-main__history__headline
          履歴
          .situation-main__history__username
            山田
          .situation-main__history__time
            ちょっと前